@{
 Layout="Shared/_Layout.cshtml";
}

<h1>Rock Paper Scissors</h1>
<form action="/input1" method="get">
  <div class="form-group">
    <label for="input1">Player One Choose Your Weapon:</label>
    <input class="form-control" type="text" name="input1" id="input1">
  </div>
  <a href="player2.cshtml">Submit</a>
</form>
