@{
 Layout="Shared/_Layout.cshtml";
}

<h1>Rock Paper Scissors</h1>
<form action="/input2" method="get">
  <div class="form-group">
    <label for="input2">Player Two Choose Your Weapon:</label>
    <input class="form-control" type="text" name="input2" id="input2">
  </div>
  <button type="submit" class="btn btn-info" name="button">Fight!</button>
</form>
